<article class="post-container {{post_class}}">
    <header class="post-header">
        <h1 class="post-title">{{title}}</h1>

        <p class="post-date">Published <time datetime="{{published_at}}">{{date format="MMMM Do YYYY"}}</time> <strong>by {{authors}}</strong></p>
    </header>

    <div class="post-content clearfix">
        {{#if feature_image}}
            <img class="post-featured-image" src="{{img_url feature_image}}">
        {{/if}}

        {{{content}}}
    </div>

    <footer class="post-footer clearfix">
        {{#if tags}}
            <p class="post-tags"><span>Tagged:</span> {{tags}}</p>
        {{/if}}
    </footer>
	
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = '{{url absolute="true"}}';
            this.page.identifier = 'ghost-{{comment_id}}';
        };
    
        (function() {
	        var d = document, s = d.createElement('script');
	        s.src = 'https://' + disqus + '.disqus.com/embed.js';
	        s.setAttribute('data-timestamp', +new Date());
	        (d.head || d.body).appendChild(s);
        })();
    </script>

</article>
